*{
    font-family: Arial, Helvetica, sans-serif;
}
.backgroundcvsu{
    background-color: #4f744c;
    color: white;
}

.logo {
    position: absolute;
    left: 1%;
    top: 0%
}

h3{
    font-weight: bolder;
    font-size: 18px;
}