{% extends 'SideBar.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'css/admin/adminhomes.css' %}">
{% endblock%}

{% block title %}
    Admin | Accounts
{% endblock %}

{% block content %}
<div>
    <h1>ACCOUNTS</h1>
    <div class="Search_bar">
        <form action="{% url 'feedback:accountsearch' %}" method="GET" id="search-form">
            <input type="text" placeholder="Search Account" name="search" id="search-input" />
            <select name="category" id="search-category" class="filter">
                <option value="">Status</option>
                <option value="True">Active</option>
                <option value="False">Inactive</option>
            </select>
        </form>
    </div>
    <div class="accounts_tbl" id="search-results">
        <table>
            <tr>
                <th>Office Username</th>
                <th>Office Name</th>
                <th>Email</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for account in accounts %}
            {% if account.userclass.status == 0 %}
                <tr key="{{ account.id }}">
                    <td>{{ account.username }}</td>
                    <td>{{ account.first_name }}</td>
                    <td>{{ account.email }}</td>
                    {% if account.is_active %}
                        <td id="active">Active</td>
                    {% else %}
                        <td id="inactive">Inactive</td>
                    {% endif %}
                    <td class="action-icons">
                        <a href="{% url 'feedback:edit_acc' account.id %}">
                            <span id="edit" class="material-icons" title="edit"> edit </span>
                        </a>
                        {% if account.is_active %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deactivateModal{{ account.id }}">
                            <span id="delete" class="material-icons" title="disable">do_not_disturb_on</span>
                        </a>
                        {% else %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#activateModal{{ account.id }}">
                            <span id="activate" class="material-icons" title="disable">check_circle</span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <!-- Deactivate Modal -->
                <div class="modal fade" id="deactivateModal{{ account.id }}" tabindex="-1" role="dialog" aria-labelledby="deactivateModal{{ account.id }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deactivateModal{{ account.id }}Label">Confirmation</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to deactivate this account?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'feedback:deactivate_acc' account.id %}">
                                    <button type="button" class="btn btn-danger">Dectivate</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Activate Modal -->
                <div class="modal fade" id="activateModal{{ account.id }}" tabindex="-1" role="dialog" aria-labelledby="activateModal{{ account.id }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="activateModal{{ account.id }}Label">Confirmation</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to activate this account?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'feedback:activate_acc' account.id %}">
                                    <button type="button" class="btn btn-success">Activate</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}                        
        </table>
        <div class="pagebutton">
            <ul class="pagination">
                {% if accounts.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link">&laquo; First </a></li>
                    <li class="page-item"><a href="?page={{ accounts.previous_page_number }}" class="page-link"> Previous </a></li>
                {% endif %}

                {% if accounts.has_next %}
                    <li class="page-item"><a href="?page={{ accounts.next_page_number }}" class="page-link"> Next </a></li>
                    <li class="page-item"><a href="?page={{ accounts.paginator.num_pages }}" class="page-link">&raquo; Last </a></li>
                {% endif %}
            </ul>  
        </div>
        <div class="Add_Account">
            <a href="{% url 'feedback:adminaddacc' %}"><button type="button" >ADD ACCOUNT</button></a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        var searchTimeout;

        $('#search-input, #search-category').on('input', function() {
            clearTimeout(searchTimeout);
            searchTimeout = setTimeout(getSearchResults, 300); // Delay the search by 300 milliseconds
        });

        function getSearchResults() {
            var searchValue = $('#search-input').val();
            var categoryValue = $('#search-category').val();
            $.ajax({
                url: $('#search-form').attr('action'),
                method: 'GET',
                data: { search: searchValue, category: categoryValue },
                success: function(response) {
                    var searchResultsHTML = $(response).find('.accounts_tbl').html();
                    $('#search-results').html(searchResultsHTML);
                },
                error: function(xhr, textStatus, error) {
                    console.log(error);
                }
            });
        }
    });
</script>
{% endblock%}
