.content-side{
    width: 100%;
}

.backgroundcvsu{
    background-color: #4f744c;
    color: white;
}

.logo {
    position: absolute;
    left: 1%;
    top: 0%
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container{
    width: 500px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    font-size: 12px;
}
label{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}
input{
    display: block;
    margin: 10px 5px 8px 5px;
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    height: 25px;
    width: 205px;
    font-weight: lighter;
    font-size: 12px;
    padding: 2px;
    color: #2b2828;
}
input:focus{
    outline: none;
    border: 1px solid #000000;
}
select{
    display: block;
    margin: 10px 5px 8px 5px;
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    height: 25px;
    width: 205px;
    font-weight: lighter;
    font-size: 10px;
    padding: 2px;
    color: #2b2828;
}
select:focus{
    outline: none;
    border: 1px solid #000000;
}
textarea{
    display: block;
    width: 430px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #C2C2C2;
    resize: none;
    padding: 5px;
}
textarea:focus { 
    outline: none;
    border: 1px solid #000000;
}
p{
    font-size: 10px;
    margin:20px;
    text-align: center;
    color: #413f3f;
}
span{
    font-weight: bold;
    color: #4f744c;
}
.proceed{
    margin: 30px 20px 0px 120px;
    padding: 7px;
    width: 100px;
    background-color: #EAAD00;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
}
.proceed:hover{
    background-color: #ffbb00;
    cursor: pointer;
  }
.cancel{
    padding: 7px;
    width: 100px;
    background-color: #C32424;;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
}
.cancel:hover{
    background-color: #ff2121;
    cursor: pointer;
}