
.content-side{
    width: 100%;
}

.backgroundcvsu{
    background-color: #4f744c;
    color: white;
}

.logo {
    position: absolute;
    left: 1%;
    top: 0%
}

.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 5%;
}

.Container{
    width: 900px;
    height: 450px;
    border:2px;
    border-style: solid;
    border-color: #D6D2D2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll; 
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    margin: 10px;
}
::-webkit-scrollbar-thumb{
    background: #D6D2D2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3A5938;
}
    .Container p{
        font-size: 12px;
        margin:7px;
    }
    #Cvsu{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        font-size: 14px;
    }
    #SFF{
        font-weight: bolder;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 20px;
    }

table{
    width: 100%;
    padding: 10px;
}
th{
    padding: 15px;
    text-align: left;
}
#scoring{
    position: sticky;
    position: -webkit-sticky;
}
label{
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    margin-right: 60px;
}
textarea{
    height: 150px;
    width: 610px;
    padding: 10px;
}
#satisfactory{
    font-weight: normal;
}
button{
    margin: 20px;
    margin-left: 770px;
    padding: 7px;
    width: 100px;
    background-color: #4f744c;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
}
button:hover{
    background-color: #3A5938;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}